::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Hover effect */
}





/* // Responsive CSS */


@media only screen and (max-width:800px){
  .hide-on-md{
    display: none !important;
    background-color: red !important;
  }
}
@media only screen and (max-width:600px){
  .hide-on-mbl{
    display: none;
  }
}
